<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/4.0.0-2/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/css/myStyle.css"/>
    <title>Title</title>
</head>
<body>

<div class="container">
    <div class="row">

        <h2>Liste des utilisateurs</h2>
        <table class="table table-striped">
            <thead class="thead-light">
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Identifianr</th>
                <th>Mot de passe</th>
                <th>Téléphone</th>
                <th>Date</th>
                <th>E-Mail</th>
            </tr>
            </thead>

                    <td th:text="${userConnect.prenom}">
                    <td th:text="${userConnect.nom}"></td>
                    <td th:text="${userConnect.username}"></td>
                    <td th:text="${userConnect.password}" ></td>
                    <td th:text="${userConnect.phone}"></td>
                    <td th:text="${userConnect.date}"></td>
                    <td th:text="${userConnect.email}"></td>

        </table>
    </div>
</div>
<div class="container">

    <h1>Application librairie</h1>
    <div class="row">
        <div th:each="livre : ${Livres}" class="col-md-4 my-1">
            <p th:text="${livre.titre}"></p>
            <p th:text="${livre.genre}"></p>
            <p th:text="${livre.auteur}"></p>
            <p th:text="${livre.dateDeb}"></p>
            <p th:text="${livre.dateFin}"></p>
            <p th:text="${livre.NExemplaire}"></p>
            <p th:text="${livre.resume}"></p>



        </div>
    </div>

</div>

<script type="text/javascript" src="webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>
</body>
</html>
