<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/css/myStyle.css"/>
    <title>Title</title>

</head>
<body>

<div class="container">
    <div class="row">

        <h2>Liste des utilisateurs</h2>
        <table class="table table-striped">
            <thead class="thead-light">
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Identifianr</th>
                <th>Mot de passe</th>
                <th>Téléphone</th>
                <th>Date</th>
                <th>E-Mail</th>
            </tr>
            </thead>

                    <td th:text="${userConnect.prenom}"></td>
                    <td th:text="${userConnect.nom}"></td>
                    <td th:text="${userConnect.username}"></td>
                    <td th:text="${userConnect.password}" ></td>
                    <td th:text="${userConnect.phone}"></td>
                    <td th:text="${userConnect.date}"></td>
                    <td th:text="${userConnect.email}"></td>

        </table>
    </div>
</div>
<div class="container">
    <div class="row">
        <table class="table table-striped">
            <thead class="thead-light">
            <tr>
                <th>Titre</th>
                <th>Date d'emprunt </th>
                <th>Date de restitution</th>
                <th>Prolongation</th>

            </tr>
            </thead>
            <tbody>
        <tr th:each="livre : ${Livres}" class="col-md-4 my-1">
            <td th:text="${livre.titre}"></td>
            <td th:text="${livre.getDateCreatedString(livre.dateDeb)}" ></td>
            <td id="dateFin" th:text="${livre.getDateCreatedString(livre.dateFin)}"></td>
            <td><a  th:if="${dateJour.before(livre.dateFin) && livre.getProlongation()==false} "
                    th:href="@{prolongation(id=${livre.id})}">Prolongation</a></td>
        </tr>

          </tbody>

        </table>
    </div>
</div>

</body>
</html>
